/* General Styling */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  background-color: #DEF4E8; /* Light green background */
}

/* Title Section */
.titleContent {
  display: flex;
  flex-direction: column; /* Stack the image and button vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  gap: 10px; /* Add space between the image and button */
}

.button {
  background-color: #9088C0; /* Soft lavender button color */
  color: #fff;
  padding: 8px 20px;
  font-size: 12px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  text-align: center; /* Ensure the button text is centered */
  border-radius: 4px; /* Rounded corners for the button */
}

.button:hover {
  background-color: #A890B8; /* Slightly darker lavender on hover */
}

.titleImage {
  max-width: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.titleImage img {
  border-radius: 5px;
}

/* Resume Page Styles */
.resume {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two equal columns */
  gap: 30px; /* Space between the items */
  padding: 40px;
  border-radius: 10px;
  background-color: #CCDDEF; /* Soft pastel blue background */
}

.section {
  width: 100%;
  padding: 20px;
  background-color: #F8F8F8; /* Light gray background for sections */
  border: 1px solid #A890B8; /* Soft lavender border */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.sectionTitle {
  font-size: 24px;
  color: #2F4F4F; /* Dark slate color for titles */
  font-family: 'Georgia', serif;
  border-bottom: 2px solid #1D2C2C; /* Darker border for section title */
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.entry {
  margin-bottom: 15px;
}

.entryTitle {
  font-size: 20px;
  font-weight: bold;
  color: #2F4F4F; /* Dark slate color for entry titles */
}

.entryInfo {
  font-size: 16px;
  color: #555; /* Dark gray for entry info */
}

.entryDescrip {
  font-size: 16px;
  color: #666; /* Slightly lighter gray for descriptions */
  margin-top: 5px;
}

.skill-list {
  list-style: disc;
  padding-left: 20px;
}

.skillList li {
  font-size: 16px;
  color: #444; /* Slightly darker gray for list items */
}

